<h1>Create your new cocktail and get drunk!</h1>

<%= simple_form_for(@cocktail, html: { multipart: true }) do |f| %>
  <%= f.input :name %>
  <%= f.input :picture %>
  <%= f.button :submit, class: "btn btn-primary"%>
<% end %>

